@model AccountEditEmailPartial


<hr />
<div>
    <div>
        <form asp-action="EditEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="newEmail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnToClickPass" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    //let btnToClickPass = document.getElementById("btnToClickPass")

    //btnToClickPass.addEventListener("click", postJson);
    $("#btnToClickPass").click(function postJson() {
        let newEmail = $("#newEmail").val();
        console.log(newEmail);
        $.ajax({
            url: "/profile/edit/email",
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify({ email: newEmail }),
            success: function (result) { }
        })
    })
</script>


