@model AccountEditPasswordPartialVM



@*class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100"*@
<hr/>
<div>
    <form asp-action="EditPassword">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div id="errorHere" class="text-danger"></div>
        <div id="successHere" class="text-success"></div>

        <div class="form-group mb-2 w-100">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" id="oldPass" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group mb-2 w-100">
            <label asp-for="NewPassword" class="control-label"></label>
            <input asp-for="NewPassword" class="form-control" id="newPass" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="button" id="btnToClick" value="Spara" class="btn btn-info" />
        </div>
    </form>
</div>

<script>
    //let btnToClick = document.getElementById("btnToClick")

    //btnToClick.addEventListener("click", postJson);
    //console.log($("oldPass").val());

    $("#btnToClick").click(function postPassJson() {
        let newPass = $("#newPass").val();
        let oldPass = $("#oldPass").val();
        console.log(newPass);
        console.log(oldPass);
        $.ajax({
            url: '/profile/edit/password',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ password: oldPass, newpassword: newPass }),
            success: function (result) { console.log(result); $("#successHere").text('Du har bytt lösenord'); $("#errorHere").text(""); },
            error: function (result) { console.log('error'); console.log(result); $("#errorHere").text("Se till att du matar in ditt gammla lösenord korrekt"); }
        })
    })
</script>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
