@model AccountEditEmailPartial
@*<form asp-controller="Account" asp-action="EditEmail">


        <input type="text" name="email" />
        <input type="submit" value="Spara email" />
        <div>
            <a asp-action="Profil">Ångra</a>
        </div>
    </form>*@


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" id="newEmail" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" id="btnToClick" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    let btnToClick = document.getElementById("btnToClick")

    btnToClick.addEventListener("click", postJson);
    function postJson() {
        let newEmail = $("#newEmail").val();
        console.log(newEmail);
        $.ajax({
            url: "/profile/edit/email",
            type: 'POST',
            contentType: "application/json",
            data: JSON.stringify({ email: newEmail }),
            success: function (result) { }
        })
    }
</script>


