@model AccountEditPasswordPartialVM

    @*<form asp-controller="Account" asp-action="EditPassword">*@
        @*<form asp-controller="Account" asp-action="EditEmail">

            <label asp-for="Password" class="control-label"></label>
            <input type="text" name="@Model.Password" />
            <input type="submit" value="submit" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input type="text" name="@Model.NewPassword" />
            <input type="submit" value="submit" />

        </form>*@



        @*<form asp-controller="Account" asp-action="EditPassword">

            <label asp-for="Password" class="control-label"></label>
            <input type="text" name="@Model.Password" />
            <input type="submit" value="submit" />
            <span asp-validation-for="Password" class="text-danger"></span>


            <input type="text" name="@Model.NewPassword" />
            <input type="submit" value="submit" />

        </form>*@


        
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="EditPassword">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button id="editInfo" type="submit" value="Save" class="btn btn-primary" />
                </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Profil">Ångra</a>
        </div>

        <script>


            $.ajax({
                url: "/profile/edit/password",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({ password })




            })




        </script>