<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Functions" asp-action="Main"><input type="button" value="Hem" /></a>
        <a asp-controller="Functions" asp-action="Library"><input type="button" value="Bibliotek" /></a>
        <a asp-controller="Account" asp-action="Profile"><input type="button" value="Profil" /></a>
        <a asp-controller="Account" asp-action="Logout"><input type="submit"  value="Logga ut"/></a>
    }

    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false);
</body>
</html>
