@model FunctionLibraryResultPartialVM[];

@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <ul>
        @foreach (var shroom in @Model)
        {
        <li>
            <p>@shroom.Name  -  @shroom.LatinName</p>
            <p>@shroom.Info</p>
            <p>@shroom.Edible</p>

            <div><img src="~/Images/@shroom.ImgUrl" alt="Mushroom" /></div>
        </li>
        }
    </ul>
</body>
</html>