@model string
@* Center the following line of code *@

<div class="card mb-3 container-fluid align-self-center" style="max-width: 1500px;">
    <div><img src="~/Images/Uploads/@Model" alt="Mushroom" width="300" height="300" /></div>
    <p></p>
</div>

