@model string

<div class="card container-fluid align-self-center" style="max-width: 1500px;">
    <br />
    <div class="align-self-center"><img src="~/Images/Uploads/@Model" alt="Mushroom" width="300" height="300" /></div>
    <p></p>
</div>
<br />

