@model FunctionMainResultPartialVM


<style>
    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<p>@Model.Name</p>
<p>@Model.ProcentResult</p>

<body>

    <h1>JavaScript Progress Bar</h1>

    <div id="myProgress">
        <div onload="move(100)" id="myBar">10%</div>
    </div>

    <br>
    

    <script>
        bar.addEventListener("load", move)
        var i = 0;
        function move(number) {
            if (i == 0) {
                i = 1;
                var elem = document.getElementById("myBar");
                var width = 10;
                var id = setInterval(frame, 10);
                function frame() {
                    if (width >= number) {
                        clearInterval(id);
                        i = 0;
                    } else {
                        width++;
                        elem.style.width = width + "%";
                        elem.innerHTML = width + "%";
                    }
                }
            }
        }
    </script>

</body>