@model string

    <div class="card align-self-center" style="max-width: 1920px; border: none; background-color: rgb(255, 255, 255, 0.0);">
    <br />
    <div class="align-self-center"><img src="~/Images/Uploads/@Model" alt="Mushroom" width="300" height="300" style="border-radius: 10px;"/></div>
    <p></p>
</div>
<br />

