@model FunctionMainResultPartialVM


<style>
    #myProgress {
        width: 100%;
        background-color: #ddd;
    }

    #myBar {
        width: 10%;
        height: 30px;
        background-color: #4CAF50;
        text-align: center;
        line-height: 30px;
        color: white;
    }
</style>
<div class="">
    <p>@Model.Name</p>
    <p>@Model.ProcentResult</p>
</div>


@*<div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="${@Model.ProcentResult * 100}" style="width: 75%"></div>
    </div>*@

<div class="col-xs-12 col-sm-12 progress-container" onload="animateBar(@Model.ProcentResult)" >
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" style="width:0%"></div>
    </div>
</div>
@*<div class="progress" onload="animateBar(@Model.ProcentResult)">
    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="${@Model.ProcentResult * 100}">25%</div>
</div>*@


@*<div id="myProgress">
        <div onshow="" id="myBar">10%</div>
    </div>

    <br>*@


<script>
    function animateBar(result) {
        let resWidth = result * 100
        console.log(resWidth);
        $(".progress-bar").animate({
            width: resWidth
        })
    }

</script>

