@model FunctionLibraryVM

@{
    ViewBag.Title = "Library";
    ViewData["Title"] = "Fungipedia";
}
@section styles{

    <link href="~/css/Library.css" rel="stylesheet" />
}
@section scripts{

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/js/Library.js"></script>
}

<br />
<br />
<div class="container library" style="padding-bottom: 60px; background-color: rgb(255, 255, 255, 0.75)">
    <h3 class="text-center font-weight-bold">FUNGIPEDIA</h3>
    <div class="row justify-content-center align-self-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">
            <input class="form-control my-0 py-1 align-content-center" type="text" id="searchTextbox" onkeydown="getHtml()" placeholder="Sök..." aria-label="Search" />
        </div>
    </div>
    <div id="divResult">
    </div>
    <br />
</div>




