@model FunctionLibraryVM

@{
    ViewData["Title"] = "Library";
}

<h4>FunctionLibraryVM</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Library">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchQuery" class="control-label"></label>
                <input asp-for="SearchQuery" class="form-control" />
                <span asp-validation-for="SearchQuery" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

