@model FunctionLibraryVM

@{
    ViewData["Title"] = "Library";
}

<h4>Bibliotek</h4>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<body>
    <input type="text" id="searchTextbox" onchange="getHtml()" value="" />
    @*<input type="button" onclick="getHtml()" value="Search" />*@
    <div id="divResult">
    </div>
    <script>

        function getHtml() {
            var searchQuery = $("#searchTextbox").val();
            console.log(searchQuery);
            if (searchQuery == "") {
                searchQuery = "emptySearchQuery"
            }
            console.log(searchQuery);
            var url = `/librarySearch/${searchQuery}`
            $.ajax({
                url: url,
                type: "GET",
                success: function (result) {
                    $("#divResult").html(result);
                }
            });
        }
    </script>
</body>


