@model FunctionLibraryVM

@{
    ViewData["Title"] = "Library";
}

<h4>Bibliotek</h4>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
<script src="~/js/Library.js"></script>


@*<form class="form-inline">
    <i class="fas fa-search" aria-hidden="true"></i>
    <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
           aria-label="Search">
</form>
<div class="input-group md-form form-sm form-1 pl-0">
    <div class="input-group-prepend">
        <span class="input-group-text gray lighten-3" id="basic-text1">
            <i class="fas fa-search text-white"
               aria-hidden="true"></i>
        </span>
    </div>
    
</div>*@
<input class="form-control my-0 py-1" type="text" id="searchTextbox" onchange="getHtml()" placeholder="Search" aria-label="Search" />
<div id="divResult">
</div>



