@model FunctionMainVM

@{
    ViewData["Title"] = "Main";
}
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/js/Main.js"></script>
}

<h1>Main</h1>

<h4>FunctionMainVM</h4>
<hr />
<div id="resultHere"></div>
<div id="result"></div>
<div class="row">
    <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="picture" asp-for="ImgToSearch" type="file" onchange="uploadFile('picture')"/>
            <div class="form-group">
                <input type="button" onclick="getResult()" value="Sök" class="btn btn-primary" />
            </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>



