@model FunctionMainVM

@{
    ViewBag.Title = "Main";
    ViewData["Title"] = "Fungi Finder";
}
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="~/js/Main.js"></script>
}
@section styles{
    <link href="~/css/Main.css" rel="stylesheet" />
}
<div id="scrollHere"></div>
<br />
<br />

<div class="container main" style="background-color: white; padding-bottom: 200px;">
    <h3 class="row container-fluid align-self-center justify-content-center text-center font-weight-bold">FUNGI FINDER</h3>
    <p class="row text-center justify-content-center align-self-center" id="warn">OBS: Ät inte svamp vars sökresultat är en matsvamp om du inte själv säkert vet att det är en matsvamp</p>
    <br />
    <div class="searcher row container-fluid align-self-center justify-content-center" id="searcher" style="display: none;">
        <img src="~/Images/Gifs/FungiSearchGif.gif" alt="Searching..." style="margin-left: 30px;" />
    </div>
    <div class="justify-content-center align-self-center">
        <div id="resultHere"></div>
        <div class="border-0" id="result"></div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="pictureErrorHere" class="text-danger"></div>
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input asp-for="ImgToSearch" type="file" class="custom-file-input" onchange="uploadFile('picture')" id="picture">
                        <label class="custom-file-label" for="inputGroupFile02">Välj bild...</label>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <input type="button" id="btn_search" onclick="getResult()" value="Sök" class="btn btn-info" />
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>

