@model FunctionMapVM[]
@*@model FunctionsMapLocationsVM[]*@

@section styles{
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. hääääääääääääj */
        #map {
            height: 600px;
            width: 840px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <link href="~/css/MapLocation.css" rel="stylesheet" />
}
<br />
<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div id="map" class="row justify-content-center align-self-center img-thumbnail"></div>
    </div>
</div>

<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div class="form-group">
            <button onclick="getCoordinates();" class="btn btn-info btn-lg btn-block">Spara Nuvaranda Position</button>
        </div>
        <div class="form-group">
            <button onclick="clearMarkers();" class="btn btn-info btn-lg btn-block">Göm Markeringar</button>
        </div>
        <div class="form-group">
            <button onclick="showMarkers();" class="btn btn-info btn-lg btn-block">Visa Markeringar</button>
        </div>
        <div class="form-group">
            <button onclick="deleteMarkers();" class="btn btn-info btn-lg btn-block">Ta Bort Markeringar</button>
        </div>
    </div>
</div>
<br />




@section scripts{
    <script>
        var map, infoWindow;
        var markers = [
             //['Title B', 59.407334,17.946617, 1]
        ];
        var pos;


        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 62.0236528, lng: 15.119680 },
                zoom: 6,
            });

            infoWindow = new google.maps.InfoWindow;


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                        /*var*/ pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    //infoWindow.setPosition(pos);
                    ////infoWindow.setContent('Location found.');
                    //infoWindow.open(map);
                    map.setCenter(pos);
                    map.setZoom(15);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

            // This event listener will call addMarker() when the map is clicked.
            map.addListener('click', function (event) {
                addMarker(event.latLng);
                //console.log(event.latLng);
            });
            //Show markers
            //addMarker({lat: 59.407334, lng:17.946617})
        }


        //Tillagt
        //let locationname = 'hej';

        function getCoordinates() {

            console.log(pos.lat);
            console.log(pos.lng);
            nameLocation = $("#nameLocation").val();

            $.ajax({

                type: "POST",
                url: "/Map/longlat",
                contentType: "application/json",
                //dataType: 'json',
                data: JSON.stringify({ locationName: nameLocation, latitude: pos.lat, longitude: pos.lng}),

                success: function (response) {
                    alert('Svampställe sparat');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }

            });
        }


        // Adds a marker to the map and push to the array.
        function addMarker(location) {

            @*var myLatlng = new google.maps.LatLng(@Model.Latitude, @Model.Longitude);

             var marker = new google.maps.Marker({
                position: myLatlng,
                map: map
            });
            markers.push(marker);*@

            //orginal
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
            markers.push(marker);

        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {

            //$.ajax({
            //    url: "/Map/longlat/MapLocation",
            //    type: "GET",
            //    success: function (result) {
            //        $("divResult").html(result);
            //    }
            //})
              //Show markers
            //var savedMarkers = [
            //    { lat: 59.407334, lng: 17.946617 },
            //    { lat: 65.407334, lng: 23.946617 },

            @foreach (var item in Model)
            {
                <text> addMarker({lat: @item.Latitude, lng: @item.Longitude})</text>
            }


            setMapOnAll(map);
        }

        // Deletes all markers in the array by removing references to them.
        function deleteMarkers() {
            clearMarkers();
            markers = [];
        }

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6PsUEvawrKCwb3qG6myykc9ORaMX83c&callback=initMap"></script>



}

