@model FunctionMapVM[]

@section styles{
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map.*/
        #map {
            height: 500px;
            width: 955px;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

        #floating-panel {
            position: absolute;
            top: 10px;
            left: 25%;
            z-index: 5;
            background-color: #fff;
            padding: 5px;
            border: 1px solid #999;
            text-align: center;
            font-family: 'Roboto','sans-serif';
            line-height: 30px;
            padding-left: 10px;
        }
    </style>
    <link href="~/css/MapLocation.css" rel="stylesheet" />
}
<br />
<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div id="map" class="row justify-content-center align-self-center img-thumbnail"></div>
    </div>
</div>

<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div class="col col-sm-1 col-md-2 col-lg-4 col-xl-4">
            <input type="image" src="~/Images/Logos/TranspIcon.png" onclick="showMarkers()" alt="Submit" height="40">
            <input type="image" src="~/Images/Logos/TranspIconStop.png" onclick="clearMarkers()" alt="Submit" height="40">
        </div>
        @*<div class="form-group">
            <button onclick="showMarkers();" class="btn btn-info btn-lg btn-block border-dark">Visa Svampställen</button>
        </div>
        <div class="form-group">
            <button onclick="clearMarkers();" class="btn btn-info btn-lg btn-block border-dark">Göm Svampställen</button>
        </div>*@
        <div class="col col-xl-2">
            <input class="form-control my-0 py-1 align-content-center" style="height: 45px" type="text" id="locationName" placeholder="Namn på svampstället.." aria-label="Search" />
        </div>
        <div class="form-group">
            <button onclick="getCor();" class="btn btn-info btn-lg btn-block border-dark">Lägg till svampställe</button>
        </div>

    </div>
</div>
<br />




@section scripts{
    <script>
        var map, infoWindow;
        var markers = [];
        var pos;

        var image = {
        url: '/Images/Logos/RedMarker.png',
        //size: new google.maps.Size(32, 38),
        //scaledSize: new google.maps.Size(32, 38),
        //labelOrigin: new google.maps.Point(9,1000)
        };


        function initMap() {

            map = new google.maps.Map(document.getElementById('map'), {
                streetViewControl: false,
                center: { lat: 62.0236528, lng: 15.119680 },
                zoom: 6,
            });

            infoWindow = new google.maps.InfoWindow;


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                        pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Du är här.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                    map.setZoom(15);
                }, function () {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }


            function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                infoWindow.setPosition(pos);
                infoWindow.setContent(browserHasGeolocation ?
                    'Error: The Geolocation service failed.' :
                    'Error: Your browser doesn\'t support geolocation.');
                infoWindow.open(map);
            }

            showMarkers()
        }

        //function getCoordinates() {

        //    console.log(pos.lat);
        //    console.log(pos.lng);
        //    nameLocation = $("#nameLocation").val();

        //    $.ajax({

        //        type: "POST",
        //        url: "/Map/longlat",
        //        contentType: "application/json",
        //        //dataType: 'json',
        //        data: JSON.stringify({ locationName: nameLocation, latitude: pos.lat, longitude: pos.lng}),

        //        success: function (response) {
        //            alert('Svampställe sparat');
        //        },
        //        failure: function (response) {
        //            alert(response.responseText);
        //        },
        //        error: function (response) {
        //            alert(response.responseText);
        //        }

        //    });
        //}
        
        function getCor() {
            var locationName = $("#locationName").val();
            console.log(locationName);
            if (locationName == "" || locationName == null) {
                searchQuery = "Svampställe.."
            }
            console.log(pos.lng);
            console.log(pos.lat);

            var url = `/Map/${locationName}/${pos.lng}/${pos.lat}`
            $.ajax({
                url: url,
                type: "POST",
                  success: function (response) {
                    alert('Svampställe sparat');
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }

        // Adds a marker to the map and push to the array.
        function addMarker(lng, lat, locationName) {
            var location = { lat: lat, lng: lng }

            var infowindow = new google.maps.InfoWindow({
            content: locationName
            });

            var marker = new google.maps.Marker({
                position: location,
                map: map,
                icon: image
            });
            markers.push(marker);

            marker.addListener('click', function() {
            infowindow.open(map, marker);
             });

        }

        // Sets the map on all markers in the array.
        function setMapOnAll(map) {
            for (var i = 0; i < markers.length; i++) {
                markers[i].setMap(map);
            }
        }

        // Removes the markers from the map, but keeps them in the array.
        function clearMarkers() {
            setMapOnAll(null);
        }

        // Shows any markers currently in the array.
        function showMarkers() {
            clearMarkers();
            markers = [];
            @foreach (var item in Model)
            {
                <text>addMarker(@item.Longitude, @item.Latitude, '@item.LocationName'),</text>
            }

            setMapOnAll(map);

        } 

    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb6PsUEvawrKCwb3qG6myykc9ORaMX83c&callback=initMap"></script>



}

