body {
    /* For width smaller than 400px: */
    height: 100%;
    width: auto;
    background-image: url('images/blurredindeximg/fungimobilebackgroundblurred.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* For width 400px and larger: */
@media (min-width: 1440px) {
    body {
        height: auto;
        width: 100%;
        background-image: url('images/blurredindeximg/fungibackground5.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}


}
