body {
    /* For width smaller than 400px: */
    height: 100%;
    width: 100%;
    background-image: url("../Images/BlurredIndexImg/fungimobileBackgroundBlurred.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* For width 400px and larger: */
@media (min-width: 1440px) {
    body {
        height: 100%;
        width: 100%;
        background-image: url("../Images/BlurredIndexImg/fungiBackground5.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}



