body {
    /* For width smaller than 1441px: */
    height: 100%;
    width: 100%;
    background-image: url('../images/blurredindeximg/FungiMobileBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-pic {
    width: 350px;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

/* For width 1441px and larger: */
@media (min-width: 1441px) {
    body {
        height: 100%;
        width: 100%;
        background-image: url("../Images/BlurredIndexImg/fungiBackground9.jpg");
        background-repeat: no-repeat;
        background-size: cover;


    }

    .logo {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .logo-pic {
        width: 350px;
        height: 250px;
        margin-left: auto;
        margin-right: auto;
    }
}





