<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    @{
        Layout = "";
    }

    <h1>Fungi Finderz</h1>

    <form>
        <button asp-controller="Account" asp-action="Login">LOGIN</button>
        <br />
        <button asp-controller="Account" asp-action="Register">REGISTER</button>
    </form>

</body>
</html>
