





<h1>Fungi Finderz</h1>
@if (!User.Identity.IsAuthenticated)
{
    <form>
        <button asp-controller="Account" asp-action="Login" class="btn btn-dark">Logga in</button>
        <br />
        <button asp-controller="Account" asp-action="Register" class="btn btn-dark">Registrera</button>
    </form>
}



