@model AccountLoginVM


@{
    ViewBag.Title = "Login";
    ViewData["Title"] = "Fungi Login";
}
@section scripts{
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}

@section styles{
    <link href="~/css/PicStyles.css" rel="stylesheet" />
}

<br />
<br />
<br />
<br />
<br />
<div class="logo">
    <img src="~/Images/Logos/TranspIconTxt.png" class="logo-pic" alt="FungiFinderLogo" />
</div>
<br />
<br />

<div class="container-fluid align-self-center">
    <div class="row justify-content-center align-self-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3 h-100">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="form-text text-danger"></div>
                <div class="form-group" style="color: white;">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="form-text text-danger"></span>

                </div>
                <div class="form-group" style="color: white;">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="form-text text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Log in" class="btn btn-info btn-lg btn-block" />
                </div>
            </form>
        </div>
    </div>
</div>
