@model FungiFinder.Models.ViewModels.MainVM

@{
    ViewData["Title"] = "Main";
}

<h1>Main</h1>

<h4>Pretty Fungi Picture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Main">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Search" class="control-label"></label> 
                <input asp-for="Search" class="form-control" />
                <span asp-validation-for="Search" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to Index</a>
</div>

